.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.input {
  cursor: pointer;
  width: 300px;
  padding: 5px;
  border: 2px solid rgb(57, 149, 149);
  border-radius: 6px;
}

.btn {
  background-color: rgb(163, 236, 230);
  border: 2px solid rgb(57, 149, 149);
  border-radius: 5px;
  padding: 4px;
  width: 90px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
